    .chatContainer,
    .input_chatContainer{
       position: fixed;
       bottom: 0;
       right: 50px;
       width: 279px;
       height: 28px;
       border-color: black;
       background-color:#f5f6f7;
       z-index: 1000;
       border-radius: 5px;
       box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
    }
    
    
    
    /*��予撠店�摰寡���*/
    .input_chatContainer{
       height: 344px;
    }
    /*��予撠店�摰寡��葬撠�*/
    .chatWindow_Content{
        height: 28px;
    }
    
/*     .input_chatContainer{ */
/*     	right:350px; */
/*     } */
    
    .chatHeader,
    .input_chatHeader{
        position: absolute;
        top:0;
        background-color:#3578e5;
        z-index: 2000;
        width: 279px;
        height: 28px;
        border-radius: 5px 5px 0px 0px;
        color: white;
        
    }
    .input_chatHeader{

        background-color:RGB(250, 110, 122);
    }
    .chatContext,
    .input_chatContext{
        margin-top:29px;
        background-color:#f5f6f7;
        z-index: 2000;
        width: 279px;
        height: 282px;
        border-radius: 5px 5px 0px 0px;
        overflow-x:hidden;
        overflow-y:auto;   
    }
    
    .input_chatContext{
    	background-color:white;
    }
    
    .chatFooter,
    .input_chatFooter{
        top:340;
        background-color:#f5f6f7;
        z-index: 2000;
        width: 279px;
        height: 34px;
        border-radius: 5px 5px 0px 0px;
        
    }
   /*撱箇�撠店���內獢� */ 
    .tooltip.fade.top,.tooltip.fade.top.in{
        width: fit-content;
    }
    /*��予��”�����＊蝷�*/
    .avatar {
    vertical-align: middle;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    }
    /*��予��”撠�����撓����*/
    .chatFooter>.input-group,
    .chatFooter .form-control ,
    .input_chatFooter>.input-group,
    .input_chatFooter .form-control{
        height: 33px;
        font-size: 12px;
        border: 0;
    }
    
    /*��予��”撠������內��憛�*/
    .input-group-addon{
        background-color: white;
        border: 0;
    }
        
    /*��予��”�憭�*/
    .chatWindow{
        height: 344px;
    }
    .list-group-item{
        background-color:#f5f6f7;
        border:0;
        color: rgb(51, 51, 51);
    }
    .list-group-item:hover{
        background-color:#e3e6e8;
    }
    /*頛詨��摮�矽�*/
    .ui.input > input {
        font-family: 'Oswald','Noto Sans TC', sans-serif;
    }
    /*��予�摰寧��������(���)*/
    .chatTextItem_self{
    	width:279px;
    	float:right;
    	margin-bottom:3px;
    }
    /*��予�摰寧��������(����)*/
    .chatTextItem_self > span> span{
    	background-color:RGB(250, 110, 122);
    	width:auto;
    	max-width:140px;
    	/*��span�銵����隞仿��lock頧������*/
    	display:block; 
    	float: right;
    	border-radius: 5px 0px 5px 5px; /*撌艾��銝�椰銝�*/
    	padding: 5px;
    	word-wrap:break-word;
		word-break:break-all;
		color: rgb(51, 51, 51);
    }
    
    .chatTextItem{
        width:279px;
        margin-bottom:10px;
        float:left;
    }
    
    .chatTextItem > span > span{
    	background-color:#f1f0f0;
    	width:auto;
    	max-width:140px;
    	/*��span�銵����隞仿��lock頧������*/
    	display:block; 
    	border-radius: 5px 0px 5px 5px; /*撌艾��銝�椰銝�*/
    	padding: 5px;
    	float:left;
    	word-wrap:break-word;
		word-break:break-all;
		color: rgb(51, 51, 51);
    }
    

    .chatTextItem_self > span + .tooltip.right{
		margin-top:10px;
    	margin-left:280px;
    	white-space:nowrap;

    }
    
    .chatTextItem > span + .tooltip.right{
    	margin-top:10px;
    	margin-left:170px;
    	white-space:nowrap; /*蝛箇����*/

    }
    
    /*�����予撠店����������*/
    #chatRoomJoin_Modal .item{
    	margin-top:10px;
    	margin-bottom:10px;
    	border: 0px;
    	width:100%;
    }
    
    /*���憭犖嚗閰脫��歇���予撠店����isable checkbox��霈�*/
    input[type="checkbox"][disabled]+label,
    input[type="checkbox"][disabled]+label:hover{
    	color:LightGrey;
    	cursor:not-allowed;
    }
    
     /*憿舐內��銝������*/
    .online_status{
    	float: right;
    }
    
    /*������店嚗＊蝷箇��內*/
    .fas.fa-circle{
	    color: #42B72A;
	    font-size: 10px;
    }

    #chatRoomJoin_Modal h4,
	#chat_AddFri_Modal h4 {
		color:rgb(51, 51, 51);
	}
    
    #chat_AddFri_Modal .modal-body .item{
    	border: 0px;
    	width:100%;
    }
