<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA102G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
 <!-- 商品類別 -->
	<servlet>
		<servlet-name>ProductCategoryServlet</servlet-name>
		<servlet-class>com.productCategory.controller.ProductCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductCategoryServlet</servlet-name>
		<url-pattern>/front_end/store/productCategory.do</url-pattern>
	</servlet-mapping>
 <!-- 商品 -->	
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/front_end/store/product.do</url-pattern>
	</servlet-mapping>
 <!-- 檢舉商品 -->	
	<servlet>
		<servlet-name>ProductReportServlet</servlet-name>
		<servlet-class>com.productReport.controller.ProductReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductReportServlet</servlet-name>
		<url-pattern>/front_end/store/productReport.do</url-pattern>
	</servlet-mapping>
	
 <!-- 收藏商品 -->	
	<servlet>
		<servlet-name>ProductWishlistServlet</servlet-name>
		<servlet-class>com.productWishlist.controller.ProductWishlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductWishlistServlet</servlet-name>
		<url-pattern>/front_end/store/productWishlist.do</url-pattern>
	</servlet-mapping>
	
 <!-- 訂單商品 -->	
	<servlet>
		<servlet-name>OrdServlet</servlet-name>
		<servlet-class>com.ord.controller.OrdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrdServlet</servlet-name>
		<url-pattern>/front_end/store/ord.do</url-pattern>
	</servlet-mapping>
	
 <!-- 購買清單商品 -->	
	<servlet>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<servlet-class>com.orderDetails.controller.OrderDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderDetailsServlet</servlet-name>
		<url-pattern>/front_end/store/orderDetails.do</url-pattern>
	</servlet-mapping>
 <!-- 711取貨 -->	
	<servlet>
		<servlet-name>Store711Servlet</servlet-name>
		<servlet-class>com.store711.controller.Store711Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Store711Servlet</servlet-name>
		<url-pattern>/front_end/store/store711.do</url-pattern>
	</servlet-mapping>
	
	
	
	 <!-- 廣告的back_end -->
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/ad.do</url-pattern>
  </servlet-mapping>

  <!-- 廣告讀圖片的 -->
  <servlet>
    <servlet-name>ADPicReader</servlet-name>
    <servlet-class>com.ad.controller.ADPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADPicReader</servlet-name>
    <url-pattern>/ADPicReader</url-pattern>
  </servlet-mapping>
  
  <!-- 好友的servlet註冊 -->
  <servlet>
  	<servlet-name>FriServlet</servlet-name>
  	<servlet-class>com.fri.controller.FriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FriServlet</servlet-name>
  	<url-pattern>/fri.do</url-pattern>
  </servlet-mapping>
  
  	<!-- 世銘的blog -->
  	<servlet>
		<servlet-name>BlogServlet</servlet-name>
		<servlet-class>com.blog.controller.BlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogServlet</servlet-name>
		<url-pattern>/blog/blog.do</url-pattern>
	</servlet-mapping>
  
  <!-- 浩源的工具類別 讀圖片再用 -->
  <servlet>
  	<servlet-name>ReaderPic</servlet-name>
  	<servlet-class>com.tools.DBImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReaderPic</servlet-name>
  	<url-pattern>/front_end/readPic</url-pattern>
  </servlet-mapping>
  
  	<!-- 浩源的會員 -->
    <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.mem.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/front_end/member/member.do</url-pattern>
  </servlet-mapping>
	
</web-app>